.container {
	margin: 0px auto;
	width: 500px;
	height: 500px;
	border: 10px #333 solid;
	overflow:hidden;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -250px;
}

#video {
	width: 500px;
	height: 500px;
	background-color: #666;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
